services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php_app
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    ports:
      - "8081:8000"
    restart: unless-stopped
